<template>
  <div class="about">
    <b-img
      class="rounded-circle"
      style="width: 400px; height: 400px;"
      v-bind:src="require('../assets/me/cricle.png')"
    ></b-img>
    <br />
    <br />
    <p>Chattrawut Phoolakorn</p>
    <p>Faculty of Informatics, Burapha University</p>
    <p>Chonburi, Thailand 20130</p>
    <div class="center">
        <b-img  onclick="window.location.href='https://www.facebook.com/Guitazr/'" style="width: 30px; height: 30px;" v-bind:src="require('../assets/social/facebook.png')"></b-img> &nbsp;
        <b-img onclick="window.location.href='https://www.instagram.com/Guitazr'"  style="width: 30px; height: 30px;" v-bind:src="require('../assets/social/instagram.png')"></b-img> &nbsp;
        <b-img onclick="window.location.href='https://twitter.com/Starjelly8'" style="width: 30px; height: 30px;" v-bind:src="require('../assets/social/twitter.png')"></b-img>
    </div>
  </div>
</template>
