<template>
  <div>
    <div
      class="form-group nav align-content-center justify-content-center container-sm border shadow p-3 mb-5 bg-white rounded"
      style="width: 65%; height: 360px;"
    >
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="7W8R8Z47P8DUS" />
        <table>
          <tr>
            <td>
              <input type="hidden" name="on0" value="Select" />Select
            </td>
          </tr>
          <tr>
            <td>
              <select class="form-control" name="os0">
                <option value="Suport 1x">$1.00 USD</option>
                <option value="Suport 2x">$3.00 USD</option>
                <option value="Suport 3x">$5.00 USD</option>
                <option value="Suport 4x">$10.00 USD</option>
                <option value="Suport 5x">$20.00 USD</option>
                <option value="Suport 6x">$50.00 USD</option>
                <option value="Suport 7x">$100.00 USD</option>
                <option value="Suport 8x">$200.00 USD</option>
                <option value="Suport 9x">$500.00 USD</option>
                <option value="Suport 10x">$800.00 USD</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <input type="hidden" name="on1" value="Send a message to developer" />Send a message to developer
            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control" type="text" name="os1" maxlength="200" />
            </td>
          </tr>
        </table>
        <br />
        <input type="hidden" name="currency_code" value="USD" />
        <input
          type="image"
          style="width: 210px; height: 85px;"
          v-bind:src="require('../assets/donate/paypal_donate.png')"
          border="0"
          name="submit"
          alt="PayPal - The safer, easier way to pay online!"
        />
        <!--<img
          alt
          border="0"
          v-bind:src="require('https://www.paypalobjects.com/th_TH/i/scr/pixel.gif')"
          width="1"
          height="1"
        /> -->
      </form>
    </div>
    
    <p
      class="text-center"
      style="font-size: normal; position: relative; top: -12px;"
    >Thank you for your support!</p>
    <button
      onclick="window.location.href='https://www.patreon.com/Starjelly'"
      class="btn btn-link my-2 my-sm-0"
      type="submit"
      style="width: 200px; height: 50px;"
    >
      <img
        src="https://c5.patreon.com/external/logo/become_a_patron_button@2x.png"
        class="rounded"
        style="width: 200px; height: 50px;"
      /></button>
  </div>
</template>