<template>
  <div class="col">
    <b-modal centered hide-footer :title="title" id="my-modal">
      <b-img
        v-b-modal.my-modal
        class="rounded"
        :src="require('../assets/gallery/' + imgShow + '.png')"
        fluid-grow
      ></b-img>
      <div class="form-inline" float-right>
        <b-img :src="require('../assets/post/heart.png')" style="width: 30px;"></b-img>
        <a>{{ countHeart }}</a>
      </div>
    </b-modal>

    <br />
    <b-img
      @click="showImg('title1')"
      v-b-modal.my-modal
      v-bind:src="require('../assets/gallery/title1.png')"
      fluid-grow
    ></b-img>
    <br />
    <br />
    <div class="row">
      <div class="col" v-for="i in 3" :key="i">
        <b-img
          @click="showImg(parseInt(i+1))"
          v-b-modal.my-modal
          v-bind:src="require('../assets/gallery/' + parseInt(i+1) + '.png')"
          fluid-grow
        ></b-img>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col" v-for="i in 3" :key="i">
        <b-img
          @click="showImg(parseInt(i+4))"
          v-b-modal.my-modal
          v-bind:src="require('../assets/gallery/' + parseInt(i+4) + '.png')"
          fluid-grow
        ></b-img>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgShow: "1",
      title: "1",
      countHeart: 1,
    };
  },
  methods: {
    showImg: function(img) {
      this.imgShow = img;
      this.title = img + ".png";
    }
  }
};
</script>