<template>
<div>
  <b><center style="font-size: larger;">Games</center></b>
  <div class="row">
      <div class="col">
        <b-img
          v-bind:src="require('../assets/gallery/1.png')"
          fluid-grow
        ></b-img>
        <a href="https://twitter.com/Starjelly8">Wildlage (pre-alpha)</a>
      </div>
      <div class="col">
        <b-img
          v-bind:src="require('../assets/gallery/5.png')"
          fluid-grow
        ></b-img>
        <a href="https://play.google.com/store/apps/details?id=com.starjelly.infinityfood">Infinity Food (stable release)</a>
      </div>
      <div class="col">
        <b-img
          v-bind:src="require('../assets/work/rolling_monster.png')"
          fluid-grow
        ></b-img>
        <a href="https://play.google.com/store/apps/details?id=com.pixzera.rollingmonster">Rolling Monster (stable release)</a>
      </div>
  </div>

</div>
  
</template>