<template>
  <div> <!--
    <button
      onclick="window.location.href='https://www.patreon.com/Starjelly'"
      class="btn btn-link my-2 my-sm-0 float-left"
      type="submit"
      style="width: 100px; height: 25px;"
    >
      <img
        src="https://c5.patreon.com/external/logo/become_a_patron_button@2x.png"
        class="rounded"
        style="width: 100px; height: 25px;"
      /></button
    >&nbsp;&nbsp;

    <span class="float-right" style="position: relative; left: -25px;">
      <button
        onclick="window.location.href='https://www.facebook.com/Starjelly-Thailand-2315251955229795/'"
        class="btn btn-link my-2 my-sm-0"
        type="button"
        style="width: 25px; height: 25px;"
      >
        <img
          src="../assets/facebook_logo.png"
          class="rounded"
          style="width: 25px; height: 25px;"
        /></button
      >&nbsp;&nbsp;
      <button
        onclick="window.location.href='https://www.instagram.com/starjelly_games'"
        class="btn btn-link my-2 my-sm-0"
        type="button"
        style="width: 25px; height: 25px;"
      >
        <img
          src="../assets/instagram_logo.png"
          class="rounded"
          style="width: 25px; height: 25px;"
        /></button
      >&nbsp;&nbsp;
      <button
        onclick="window.location.href='https://twitter.com/Starjelly8'"
        class="btn btn-link my-2 my-sm-0"
        type="button"
        style="width: 25px; height: 25px;"
      >
        <img
          src="../assets/twitter_logo.png"
          class="rounded"
          style="width: 25px; height: 25px;"
        />
      </button>
    </span>
    <br />
    <br /> -->
  </div>
  
</template>
