<template>
  <div id="app">
    <br>
    <p class="text-center" style="font-size: 48px;">STARJELLY</p>
    <p class="text-center" style="font-size: normal; position: relative; top: -18px;">
      is creating Games
    </p>
    <hr>
    <div id="nav" style="font-size: normal; position: relative; top: -24px;">
      <router-link to="/">Gallery</router-link> |
      <router-link to="/work">My work</router-link> |
      <router-link to="/about">About me</router-link> |
      <router-link to="/donate">Donate</router-link>
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>