<template>
  <b-container fluid>
    <Header></Header>
    <router-view
      style="font-size: normal; position: relative; top: -18px; width: 90%; display: block;
  margin-left: auto;
  margin-right: auto;"
    ></router-view>
    <Bottom></Bottom>
  </b-container>
</template>

<script>
import Header from './Header'
import Bottom from './Bottom'
export default {
  components: {
    Header,
    Bottom
  }
}
</script>
