<template>
  <div class="container-sm border shadow p-3 mb-5 bg-white rounded">
    <b-button class="float-right" @click="addNewUser" variant="success">Add new</b-button>

    <b-modal
      centered
      id="modal-form-user"
      ref="modalAddNewUser"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <!-- USERNAME -->
        <b-form-group
          label="Username"
          label-for="username"
          :invalid-feedback="invalidFeedbackUsername"
          :valid-feedback="validFeedbackUsername"
          :state="stateUsername"
        >
          <b-form-input id="username" v-model="form.username" required></b-form-input>
        </b-form-group>

        <!-- PASSWORD -->
        <b-form-group
          label="Password"
          label-for="password"
          :invalid-feedback="invalidFeedbackPassword"
          :valid-feedback="validFeedbackPassword"
          :state="statePassword"
        >
          <b-form-input type="password" id="password" v-model="form.password" required></b-form-input>
        </b-form-group>

        <!-- PASSWORD CONFIRM -->
        <b-form-group
          label="Password Confirm"
          label-for="passwordConfirm"
          :invalid-feedback="invalidFeedbackPasswordConfirm"
          :valid-feedback="validFeedbackPasswordConfirm"
          :state="statePasswordConfirm"
        >
          <b-form-input
            type="password"
            id="passwordConfirm"
            v-model="form.passwordConfirm"
            required
          ></b-form-input>
        </b-form-group>

        <!--<b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card> -->
      </form>
    </b-modal>

    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <div class="float-right">
          <b-button @click="editUser(data.item)">Edit</b-button>&nbsp;
          <b-button @click="delUser(data.item)" variant="danger">Delete</b-button>
        </div>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from "axios";
import userService from "./UserService";
export default {
  data() {
    return {
      title: "Register",
      form: {
        username: "",
        password: "",
        passwordConfirm: "",
        type: "user"
      },
      userList: [],
      fields: [
        { key: "id", label: "#", sortable: true },
        { key: "username", sortable: true },
        { key: "password", sortable: true },
        "operation"
      ]
    };
  },
  methods: {
    addNewUser() {
      this.$bvModal.show("modal-form-user");
    },
    editUser(user) {
      console.log("Edit");
      console.log(user);
      this.form = { ...user };
      this.title = "Edit user";
      this.$bvModal.show("modal-form-user");
    },
    delUser(user) {
      this.boxTwo = "";
      this.$bvModal
        .msgBoxConfirm(
          "Please confirm that you want to delete " + user.username + "?",
          {
            title: "Please Confirm",
            size: "sm",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "YES",
            cancelTitle: "NO",
            footerClass: "p-2",
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete("http://localhost:3000/users/" + user._id)
              .then(res => {
                console.log(res);
                this.getUsers();
              })
              .catch(err => {
                console.log(err);
              });
            userService.deleteUser(user);
            this.getUsers();
          }
        })
        .catch(err => {
          // An error occurred
        });
    },
    resetModal() {
      this.form = {
        _id: "",
        username: "",
        password: "",
        passwordConfirm: "",
        type: "user"
      };
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // Check vaidate
      if (
        !this.stateUsername ||
        !this.statePassword ||
        !this.statePasswordConfirm
      ) {
        return;
      }
      // Do when pass varidation
      if (this.form._id !== "") {
        axios
          .put("http://localhost:3000/users", this.form)
          .then(res => {
            console.log(res);
            this.getUsers();
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        // userService.addUser(this.form);
        delete this.form._id
        axios
          .post("http://localhost:3000/users", this.form)
          .then(res => {
            console.log(res);
            this.getUsers();
          })
          .catch(err => {
            console.log(err);
          });
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-form-user");
      });
    },
    getUsers() {
      axios
        .get("http://localhost:3000/users")
        .then(res => {
          console.log(res);
          this.userList = res.data;
        })
        .catch(err => {
          console.log(err);
        });
      // this.userList = userService.getUsers()
    }
  },
  computed: {
    // USERNAME
    stateUsername() {
      return this.form.username.length >= 4 ? true : false;
    },
    invalidFeedbackUsername() {
      if (this.form.username.length > 4) {
        return "";
      } else if (this.form.username.length > 0) {
        return "Enter at least 4 characters";
      } else {
        return "Please enter something";
      }
    },
    validFeedbackUsername() {
      return this.stateUsername === true ? "" : "";
    },

    // PASSWORD
    statePassword() {
      return this.form.password.length >= 4 ? true : false;
    },
    invalidFeedbackPassword() {
      if (this.form.password.length > 4) {
        return "";
      } else if (this.form.password.length > 0) {
        return "Enter at least 4 characters";
      } else {
        return "Please enter something";
      }
    },
    validFeedbackPassword() {
      return this.statePassword === true ? "" : "";
    },

    // PASSWORD CONFIRM
    statePasswordConfirm() {
      return this.form.passwordConfirm === this.form.password &&
        this.form.passwordConfirm.length > 0
        ? true
        : false;
    },
    invalidFeedbackPasswordConfirm() {
      if (this.form.passwordConfirm === "") {
        return "Please enter something";
      } else if (this.form.passwordConfirm === this.form.password) {
        return "";
      } else if (this.form.passwordConfirm !== this.form.password) {
        return "Password not match!";
      }
    },
    validFeedbackPasswordConfirm() {
      return this.statePasswordConfirm === true ? "" : "";
    }
  },
  mounted() {
    console.log("Vue component is mouted");
    this.getUsers();
  }
};
</script>
